# Go
backend/bin
backend/tmp
backend/internal/config/env.go

# Node / React
frontend-dashboard/node_modules
frontend-dashboard/dist

frontend-portofolio/node_modules
frontend-portofolio/dist

# Docker
db-data
*.log

# IDE
.vscode
.idea
.DS_Store
backend/internal/config/env.go
